@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-[#f8fafc] text-[#1e293b] leading-relaxed overflow-x-hidden;
  }
}
